.element {
  margin-bottom: 30px;
  filter: drop-shadow(0 0 1em rgba(59, 121, 246, 0.15));
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.title {
  margin-bottom: 10px;
}

.input {
  background-color: #ffffff; 
  border: 1px solid #d1d1d1; 
  border-radius: 8px;
  font-size: 16px;
  height: 40px;
  width: 100%;
  padding: 0 20px;
  color: #333; 
}

.input:focus {
  outline: none;
  color: #333; 
  border-color: rgba(59, 121, 246, 0.55);
}
