.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #d1d1d1; 
  padding: 10px;
  cursor: pointer;
  background-color: #ffffff; 
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.default {
  background-color: #f9f9f9;
  border-color: #d1d1d1;
}

.default:hover {
  background-color: rgba(59, 121, 246, 0.1);
  border-color: rgba(59, 121, 246, 0.2); 
}

.success {
  background-color: rgba(84, 255, 14, 0.1); 
  border-color: rgba(84, 255, 14, 0.2); 
}

.success:hover {
  background-color: rgba(84, 255, 14, 0.15); 
  border-color: rgba(84, 255, 14, 0.25); 
}

.id {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 9999px;
  font-weight: 900;
  margin: 0 2px;
  font-size: 0.8em;
  color: #fff; 
}

.idDefault {
  background-color: rgba(59, 121, 246, 0.15); 
  color: #2870ff;
}

.idSuccess {
  background-color: rgba(84, 255, 14, 0.15);
  color: rgba(84, 255, 14, 0.6); 
}

.contentDefault {
  color: #333; 
}

.contentSuccess {
  text-decoration: line-through;
  color: rgba(84, 255, 14, 0.6); 
}
